
extends layout

block content
  h1= obra.title
  .carousel-container
    button.carousel-prev Anterior
    .carousel-images
      each imagen, index in obra.additionalImages
        img(src=imagen, alt=`Imagen adicional de ${obra.title}`, class=index === 0 ? 'active' : '')
    button.carousel-next Siguiente

  a.back-link(href="javascript:history.back()") Volver a la galería
